
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.customer-list-container {
  min-width: 520px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.customer-list-main{
  overflow-y: 'scroll';
  height: '100vh'
}


.customer-list-container, .customer-details-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.customer-list-container::-webkit-scrollbar, .customer-details-container::-webkit-scrollbar {
  width: 8px;
}

.customer-list-container::-webkit-scrollbar-thumb, .customer-details-container::-webkit-scrollbar-thumb {
  background-color: #888;
}

.customer-list-container::-webkit-scrollbar-track, .customer-details-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.selected{
  border: 2px solid blue;
  background-color: #D1E9F6;
}

.customer-card-main{
  border:1px solid gray;
}
.customer-details-main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
}
.customer-details-image{
  width: 100%;
}

.customer-details {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}